[project]
	description = POC for WS with Docker
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ilan-g
[access "refs/for/refs/*"]
	read = group user/ilan-g
	push = group user/ilan-g
	label-Code-Review = -2..+2 group user/ilan-g
	label-Verified = -1..+1 group user/ilan-g
	rebase = group user/ilan-g
	removeReviewer = group user/ilan-g
	submit = group user/ilan-g
[access "refs/heads/*"]
	read = group user/ilan-g
	create = group user/ilan-g
	push = +force group user/ilan-g
	pushMerge = group user/ilan-g
[access "refs/tags/*"]
	push = +force group user/ilan-g
	pushTag = group user/ilan-g
	pushSignedTag = group user/ilan-g
